// Rename this file to terraform.tfvars and fill in the necessary values.

// Template
vmtemplate = "<templateName>"

// Destination
dc = "<datacenterName>"
cluster = "<clusterName>"
datastore = "<datastoreName>"
vnet = "<networkName>"